* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

body{
    background-color: #151515;
    height: 100vh;
}

header{
    width: 100vw;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

div {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
}

#outros {
    display: none;
}

div li{
    line-height: 40px;
    list-style: none;
}

h1 {
    font-size: 24px;
    color: #9F0013;
}

h2 {
    font-size: 20px;
}

section .btn{
    width: 100px;
    color: #9F0013;
    border-radius: 10px;
}

li span { background: #151515 }
li span+span { float: right }
li { position: relative }
li::before {
  content: "";
  display: block; position: absolute; z-index: -1;
  top: 50%; width: 100%;
  border-bottom: 1px dotted #9F0013;
}

